<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fc279b1a-4d50-49da-9de5-fcfe1f4dc2d8/resourceGroups/CupboardManagement/providers/Microsoft.Web/sites/ApiProductManagmentTeamInt</ResourceId>
    <ResourceGroup>CupboardManagement</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apiproductmanagmentteamint.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7cf159db-3889-453d-8b45-b70b9cc05100</ProjectGuid>
    <PublishUrl>https://apiproductmanagmentteamint.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApiProductManagmentTeamInt</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>